
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>-->
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/print.css" media="print">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    
  

    <title>{{page.title}}</title>
  </head>
    
   <header>
   	<div class="imagehead>
		   <a href="/"><img src="{{site.baseurl}}/Syncopate_logo_solo1.jpg" alt="Syncopate"></a>
      	</div>
  </header>
  
   <!-- 
													    <header>
        <div class="inner">
          <h1><a href="/">Syncopate</a></h1>
          <h2>A rather different consulting company</h2>
          <h3><a href="/">Our DNA | </a> <a href="/">People | </a></a> <a href="/">Blog | </a> </h3>
        </div>
      </header>  
      
   <!--   -->

 <body> 
      <div id="content-wrapper">
        <div class="inner clearfix">
          <section id="main-content">
          
	        {{content}}
          {% include section_nav.html %}	  
  
          </section>

          
          <aside id="sidebar">
            {% include docs_contents.html %}

           
          </aside>
          
        </div>
      </div>

 

              <script type="text/javascript">
              var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
              document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
              try {
                var pageTracker = _gat._getTracker("UA-7074695-4"); //TODO: Break out to parameter
              pageTracker._trackPageview();
              } catch(err) {}
            </script>

    </body>
